<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin name="skid_steer_drive" filename='libgazebo_ros_diff_drive.so'>

            <ros>
                <namespace>/</namespace>
                <remapping>cmd_vel:=cmd_vel</remapping>
                <remapping>odom:=odom</remapping>
            </ros>

 
            <!-- Wheel information -->
            <num_wheel_pairs>2</num_wheel_pairs>

            <left_joint>back_left_wheel_joint</left_joint>
            <right_joint>back_right_wheel_joint</right_joint>

            <left_joint>front_left_wheel_joint</left_joint>
            <right_joint>front_right_wheel_joint</right_joint>
            
            <!-- kinematics -->
            <wheel_separation>0.15</wheel_separation>
            <wheel_separation>0.15</wheel_separation>

            <wheel_diameter>0.06</wheel_diameter>
            <wheel_diameter>0.06</wheel_diameter>

            <!-- Limits -->
            <max_wheel_torque>200</max_wheel_torque>
            <max_wheel_accelaration>10.0</max_wheel_accelaration>


            <!-- Output -->
            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>

            <update_rate>100.0</update_rate>

            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_link</robot_base_frame>

        </plugin>
    </gazebo>


</robot>